@font-face {
    font-family: 'Yahoo';
    src: url('./assets/fonts/Yahoo.ttf') format('truetype');
}

@font-face {
    font-family: 'PixCon';
    src: url('./assets/fonts/PixCon.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/Quicksand_Book.otf') format('truetype');
}

@font-face {
    font-family: 'Hieroglyphs';
    src: url('./assets/fonts/AncientEgyptianHieroglyphs.otf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    zoom: 200%;
}

button:active,
button:focus {
    outline: none;
}

.fixed-border {
    width: calc(100% - 6px);
    height: calc(100% - 3px);
    padding-bottom: 0;
    position: fixed;
}

.menu-bar {
    padding: 0;
    display: flex; 
    align-items: center;
    flex-grow: 1;
}

.menu-bar-item {
    min-width: 0;
    min-height: 25px;
    padding: 0 8.5px 0 8.5px;
}

.menu-bar-item::first-letter {
    text-decoration: underline;
}

.menu-bar-text {
    margin: 0;
}

.menu-bar-button:not(:active):not(:hover) {
    box-shadow: none;
}

.menu-bar-button:not(:active):not(:hover) hr {
    visibility: hidden;
}

.menu-bar-button:active hr {
    border-left: 1px solid #fff;
    border-right: 1px solid #808080;
}

.menu-bar-button:active img {
    transform: translateX(1px) translateY(1px);
}

.middle-button {
    display: flex;
    align-items: center;
    min-width: 0;
    min-height: 0;
    padding: 0;
    height: 46px;
}

.middle-button img {
    image-rendering: pixelated;
}

.middle-button-width {
    width: 56px;
}

.bw:not(:hover) img {
    filter: grayscale(100%) contrast(1000%);
}

.gs:not(:hover) img {
    filter: grayscale(100%) saturate(0);
}

.stack-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vertical-hr {
    width: 0px;
    height: 38px;
    margin: 0;
    border: 0;
    border-left: 1px solid #808080;
    border-right: 1px solid #fff;
    margin-left: 2px;
    margin-right: 2px;
}

.link-arrows {
    image-rendering: pixelated;
    padding: 2px 0 8px 0;
}

.W98-logo {
    padding: 0;
    border-bottom: none;
}

.W98-logo-img {
    padding: 0;
}

.search-bar {
    flex-grow: 1;
    height: 24px;
    display: flex;
    align-items: center;
    margin: 0 10px 0 5px;
}

.status-bar-field-custom {
    box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px #808080;
    display: flex;
    padding: 2px 3px;
    margin: 0;
}

.search-bar-text {
    height: 17px;
    margin: 0;
    padding-left: 3px;
    display: flex;
    align-items: center;
}

.max-window-width {
    margin: auto;
    max-width: 840px;
}

.search-results {
    padding: 0 10px 0 10px;
}

.result {
    margin-bottom: 10px;
}

.result-text {
    margin: 0;
}

.blockquote {
    margin: 0 40px 0 40px;
}

/*ian-maigler.html*/
.ian-maigler-body {
    background-image: url('./assets/images/tile-stars.gif');
    background-repeat: repeat;
    background-size: 128px;
}

.ian-maigler-body h4 {
    font-size: 1.3em;
    margin: 10px 0 10px 0;
}

.profile-header {
    height: 25px;
    background-color: fuchsia;
    display: flex;
    align-items: center;
}

.max-header-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 660px;
    margin: auto;
    flex-grow: 1;
}

.mobile-workaround {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav {
    height: 20px;
    background-color: rgb(255, 118, 255);
    display: flex;
    align-items: center;
}

.top-nav hr {
    height: 12px;
    margin: 0 5px;
}

.profile-border {
    border-style: groove;
    border-width: 6px;
    border-color: fuchsia;
    margin: 10px;
    background-color: rgb(255, 0, 255, 0.4);
}

.audio-controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=range] {
    all: revert;
}

input[type=range]::-webkit-slider-thumb {
    all: revert;
}

input[type=range]::-webkit-slider-runnable-track {
    all: revert;
}

.center-profile {
    margin: auto;
    width: 80%;
}

.profile-photo {
    height: 145px;
}

.profile-description {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.play-button {
    flex-grow: 1;
    margin-left: 4px;
}

.play-button:hover {
    cursor: pointer;
}

.play-button:active {
    transform: translateY(1px);
}

.scrubber {
    display: flex;
    align-items: center;
}

#scrubber {
    width: 100px;
    float: right;
    margin-right: 0;
}

#volume-control {
    appearance: slider-vertical;
    width: 20px;
    height: 126px;
}

#audio-img {
    image-rendering: pixelated;
}

.contact-info {
    display: grid;
    grid-template-columns: 22px auto 22px auto;
}

.music-list-container {
    display: flex;
    justify-content: space-between;
}

.unstyled-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.music-list li {
    margin-bottom: 5px;
}

.display-flex {
    display: flex;
}

.interests {
    width: 38%;
}

.about-me {
    width: 62%;
}

/*resume.html*/
.display-vertical {
    display: flex;
    flex-direction: column;
}

.span-bullet {
    margin: 10px 0 10px 0;
}

.span-bullet span::before {
    content: '\2022';
    margin-right: 0.3em;
}

.margin-auto-children div {
    margin: auto;
}

.horizontal-hr {
    size: 1px;
    color: #9a9a9a;
}

.job-company {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}

.resume-download {
    display: flex;
}

/*work-experience.html*/
.page-content {
    width: 80%;
    margin: 3% auto 7% auto;
}

.header-text {
    align-items: center;
    display: flex;
    font-family: 'Yahoo';
    font-size: 2em;
    text-shadow: 1px 1px rgb(54, 54, 54);
    width: 80%;
    margin: auto;
}

.work-header {
    align-items: center;
    background-color: rgb(238, 238, 238);
    display: flex;
    height: 20px;
    padding-left: 5px;
}

.work-skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-skills h4 {
    margin: 5px;
    color: rgb(255, 255, 16);
    text-shadow: 2px 2px black;
}

.work-skill {
    background-color: rgb(0, 51, 153);
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 33%;
}

.work-skill > div {
    align-items: center;
    display: flex;
}

.skill-image {
    image-rendering: pixelated;
    height: 32px;
    width: 32px;
    margin: 5px;
}

.skill-arrow {
    filter: drop-shadow(1.5px 1.5px rgb(0, 0, 0));
    height: 16px;
    margin: 12px 6px 0 auto;
}

.work-skill p {
    margin: 0;
}

.block-header {
    align-items: center;
    background-color: rgb(0, 51, 153);
    color: #fff;
    display: flex;
    height: 20px;
    padding-left: 5px;
}

.block-header h5 {
    font-size: 1em;
}

.block-content {
    background-color: rgb(255, 255, 204);
    padding: 10px;
}

.work-experience-content {
    width: 80%;
}

.side-bar {
    border: 1px rgb(0, 204, 0) solid;
    margin-left:1px;
    width: 20%;
}

.side-bar p {
    padding: 0 5px;
    margin: 15px 0;
    font-size: 10px;
}

.side-bar-header {
    align-items: center;
    background-color: rgb(0, 204, 0);
    color: #fff;
    display: flex;
}

.side-bar-header h4 {
    font-size: 1em;
    margin: 5px;
}

.work-footer {
    display: flex;
    flex-direction: column;
    font-size: 0.75em;
}

.work-footer div {
    margin: auto;
}

/*education.html*/

.education-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('./assets/images/education/pattern-blue.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 128px;
}

.quarter-left-div {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 100%;
    border-right: 5px solid;
    border-image-source: url('./assets/images/education/custom-border-100px.jpg');
    border-image-slice: 5;
    image-rendering: pixelated;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/images/education/pattern-purple.jpg');
    background-repeat: repeat;
    background-size: 128px;
    width: 100%;
    height: 183px;
}

.checker-div {
    background-image: url('./assets/images/education/checker-pattern.jpg');
    background-repeat: repeat;
    background-size: 100px;
    width: 100%;
    height: 100vh;
    border-top: 5px solid;
    border-image-source: url('./assets/images/education/custom-border-100px.jpg');
    border-image-slice: 5;
    image-rendering: pixelated;
}

.education-nav {
    display: flex;
    position: fixed;
    width: calc(100% - 26px);
    background-color: #ff1ea0;
    z-index: 10;

    height: 20px;
}

.diploma-results-text {
    display: flex;
    align-items: center;
    font-family: 'PixCon';
}

.diploma-header {
    color: blue;
    font-size: 1.68em;
}

.education-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 672px;
}

.content-padding {
    display: flex;
    flex-direction: column;
}

.education-border {
    display: flex;
    flex-direction: column;
    border: 5px solid;
    border-image-source: url('./assets/images/education/custom-border-100px.jpg');
    border-image-slice: 5;
    image-rendering: pixelated;
    background-color: rgb(255, 255, 255, 0.7);
}

.diploma-photo {
    display: flex;
    margin: 10px;
    width: 47%;
    position: relative;
    box-shadow: 2px 2px 5px;
}

.sparkle-gif {
    position: absolute;
    transform: translate(-21%, -37%);
    top: 0;
    left: 0;
    height: 50%;
}

.wow-sticker {
    position: absolute;
    transform: translate(30%, 30%);
    bottom: 0;
    right: 0;
    height: 23%;
}

.listing-photos {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 10px 10px 10px 0;
}

.listing-photos img {
    width: 100%;
    box-shadow: 2px 2px 5px;
}

.diploma-description {
    margin: 10px;
}

.campus-info {
    display: flex;
}

.listing-stats {
    display: flex;
    flex-direction: column;
}

.money-symbol {
    font-size: 1.4em;
    position: absolute;
    transform: translate(-30%, -24%);;
}

.stat-header {
    font-family: 'PixCon';
    font-size: 1.6em;
}

.campus-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

.des-box {
    display: flex;
    width: calc(33.33% - 10px);
    height: 20px;
    border: 1px solid blue;
    background-color: #ff1ea0;
    margin-bottom: 5px;
    padding-left: 5px;
    align-items: center;
}

.divider-line {
    background-color: blue;
    width: 100%;
    height: 1px;
}

/* skills-and-expertise.html */
menu[role=tablist] > li {
    background-color: silver;
}

.top-row li[aria-selected=true] {
    z-index: 1 !important;
}

.top-row > li[aria-selected=true]:first-child {
    margin-left: 0 !important;
}

.skill {
    display: flex;
}

.skills-left {
    width: 50%;
    padding: 10px;
}

.skills-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
}

.skills-right img {
    image-rendering: pixelated;
}

.static-img {
    position: absolute;
    background-color: silver;
}

.static-img:hover {
    opacity: 0;
}

.programming-languages {
    display: flex;
}

.file-explorer {
    color: #bebebe;
    background-color: #252526;
    width: 125px;
}

.file-explorer-head {
    display: flex;
    position: relative;
    padding: 10px 10px;
}

.explorer-head-text {
    font-size: 9px;
    flex-grow: 1;
}

.triple-dot {
    display: block;
    position: absolute;
    bottom: 13px;
    right: 8px;
}

.explore-header {
    font-size: 10px;
    font-weight: bold;
}

.open-editors {

}

.buffer {
    padding: 2px 0;
}

.vertical-greater-than {
    font-family: 'Quicksand';
    font-weight: bold;
    display: inline-block;
    transform: rotate(90deg);
    margin: 0 1px;
}

.open-files {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 16px auto;
    margin-left: 27px;
}

.open-files div {
    padding: 2px 0;
}

.workspace-files div {
    
}

.expanded-folder {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 16px auto;
    margin-left: 17px;
    position: relative;
}

.expanded-folder div {
    padding: 2px 0;
}

.expanded-folder img {
    display: block;
    height: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.fi { /*file indent*/
    padding-left: 10px;
}

.vs-code {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.vs-tabs {
    display: flex;
}

.tab-text {
    margin: 0 3px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.primary-tab {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    color: #bebebe;
    padding: 8px;
}

.angle-bracket {
    color: rgb(215, 78, 33);
    font-family: 'PixCon';
    font-size: 6.5px;
}

.primary-tab-x {
    color: #fff;
    font-size: 9px;
}

.secondary-tab {
    display: flex;
    align-items: center;
    background-color: #2d2d2d;
    color: #d6c07f;
    padding: 8px;
}

.tab-pound {
    color: rgb(81, 143, 163);
    font-family: 'PixCon';
    font-size: 6px;
    padding-right: 1px;
}

.empty-tab {
    background-color: #252526;
    flex-grow: 1;
}

.code-file-path {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    color: #bebebe;
    padding: 2px 12px;
}

.greater-than {
    font-family: 'Quicksand';
    font-weight: bold;
    flex: 1;
}

.code-body {
    display: flex;
    background-color: #1e1e1e;
    flex-grow: 1;
}

.line-numbers {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #a1a1a1;
}

.line-numbers > span {
    padding: 2px 2px 0 10px;
}

.code-body-text {
    display: flex;
    flex-direction: column;
    color: #a1a1a1;
    flex-grow: 1;
    letter-spacing: 3px;
}

.code-body-text > span {
    padding: 1px 0 0 10px;
    height: 13px;
}

.file-name {
    position: relative;
}

.file-name:hover::before {
    content: "";
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 125px;
    height: 100%;
    background-color: #2a2d2e;
    z-index: 0;
}

.tag {
    color: #4a9cd6;
    letter-spacing: normal;
}

.attribute {
    color: #9cdcff;
    letter-spacing: normal;
}

.white-txt {
    color: white;
    letter-spacing: normal;
}

.grey-txt {
    color: #5a5a5a;;
    letter-spacing: normal;
}

.argument {
    color: #ce9178;
    letter-spacing: normal;
}

.array {
    color: #b65c38;
    letter-spacing: normal;
}

.comment {
    color: #6a9955;
    letter-spacing: normal;
}

.function {
    color: #dcdc9d;
    letter-spacing: normal;
}

.class {
    color: #d7ba7d;
    letter-spacing: normal;
}

.bracket {
    color: #ffd70e;
    letter-spacing: normal;
}

.value {
    color: #b5ce89;
    letter-spacing: normal;
}

.pink {
    color: #da70cb;
    letter-spacing: normal;
}

.turquoise {
    color: #32bbb0;
    letter-spacing: normal;
}

.blue {
    color: #1c7cff;
    letter-spacing: normal;
}

.purple {
    color: rgb(66, 0, 180);
    letter-spacing: normal;
}

.backend-example {
    display: flex;
}

.backend-text {
    width: 49%;
    height: 100%;
    padding: 10px;
}

.backend-code {
    width: 51%;
    background-color: #f9f8f8;
}

.reactive-design {
    overflow: auto;
    height: 200px;
    box-sizing: border-box;
}

.resizable-div {
    overflow: auto;
    width: 100%;
    height: 100%;
    min-width: 0px;
    min-height: 0px;
    max-width: 100%;
    max-height: 100%;
    resize: both;
}

.resize-left {
    float: left;
    width: 20%;
}

.resize-middle {
    float: left;
    width: 60%;
    overflow: hidden;
}

.resize-right {
    float: left;
    background-color: #0000001a;
    width: 20%;
    padding: 10px;
}

.problem-solving {
    display: flex;
}

.problem-solving-text {
    width: 45%;
    height: 100%;
    padding: 10px;
}

#problem-solving-code {
    width: 55%;
    height: 100%;
    overflow: auto;
}

.show-code {
    cursor: pointer;
}

.database {
    display: flex;
}

.database-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.database-query {
    display: grid;
    grid-template-columns: repeat(7, fit-content(20px));
    grid-gap: 2px 5px;
    font-weight: bold;
    padding: 5px 10px;
    align-items: center;
}

.query-line {
    grid-column: 1 / 8;
}

#regex {
    display: flex;
    flex-direction: column;
    width: 140px;
}

/* FREE RAM */

#ram-parent {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.free-ram {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: absolute;
    width: 300px;
}

.popup .window-body {
    margin: 0;
}

.popup img {
    display: block;
    width: 100%;
}

/* MOBILE STYLING */

/* Tablet styles */
@media (max-width: 991px) {
    body {

    }

    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: flex;
    }

    .max-header-width {
        padding: 0 3px;
    }

    .mobile-column {
        display: flex;
        flex-direction: column;
    }

    .mobile-width {
        width: 100%;
    }

    .interests {
        order: 1;
    }

    .header-text {
        font-size: 1.75em;
    }

    .work-skills {
        flex-direction: column;
    }

    .work-skill {
        width: 100%;
        margin: 1px 0;
    }

    .work-experience-content {
        width: 100%;
    }

    .skill {
        flex-direction: column;
    }

    .skills-left {
        width: 90%;
    }

    .skills-right {
        width: 100%;
    }

    .languages-mobile {
        transform: translate(-140px, 134px) rotate(90deg);
        width: 560px;
    }

    .backend-text {
        width: 90%;
    }

    .backend-code {
        overflow: auto;
        width: 100%;
    }

    .backend-code-mobile {
        width: 108%;
    }

    .problem-solving-text {
        width: 90%;
    }

    #problem-solving-code {
        width: 100%;
    }
}

  /* Mobile styles */
@media (max-width: 767px) {
    body {
        zoom: 100%
    }

    .display-phone {
        display: flex;
    }

    .des-box {
        width: calc(50% - 10px);
    }
}